.main{
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    justify-content: center;
    margin-top: 12em;
    margin-bottom: 12em;
    background: -webkit-linear-gradient(#eee, #333);
    
}
h1{
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.content{
    display: grid;
    margin-top: 2em;
    margin-bottom: 2em;
    row-gap: 1em;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}


.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:hover {
  background-color: #2c974b;
}
.input{
    height: 2em;
    border-radius: 5px;
}

.label{
    grid-template-columns: auto;
    grid-template-rows: 4fr;
}
.result{
    text-align: center;
}
.flexbox{
    display: flex;
    width: auto;
    justify-content: space-evenly;
}
.select{
    border-radius: 5px;
}
